body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.p-tabs {
  height: 100vh;
  width: 100vw;
}

.p-tabpanels {
  flex: 1;
}

.p-tabpanel {
  height: 100%;
}